/* hover text to signify flaired users on /r/AskHistorians */
.author[href$="/Commustar"]:after,
.author[href$="/EsotericR"]:after, 
.author[href$="/gplnd"]:after,
.author[href$="/khosikulu"]:after, 
.author[href$="/leocadia"]:after, 
.author[href$="/Nebkheperure"]:after, 
.author[href$="/profrhodes"]:after, 
.author[href$="/seringen"]:after, 
.author[href$="/SisulusGhost"]:after, 
.author[href$="/tlacomixle"]:after, 
.author[href$="/AlotofReading"]:after,
.author[href$="/AnacreonInHeaven"]:after,
.author[href$="/Anastik"]:after, 
.author[href$="/AnOldHope"]:after, 
.author[href$="/anthropology_nerd"]:after, 
.author[href$="/Artrw"]:after, 
.author[href$="/bclelandgt"]:after, 
.author[href$="/Borimi"]:after, 
.author[href$="/CanadianHistorian"]:after, 
.author[href$="/CAPA-3HH"]:after, 
.author[href$="/Carol_White"]:after, 
.author[href$="/cephalopodie"]:after, 
.author[href$="/constantandtrue"]:after, 
.author[href$="/Cosmic_Charlie"]:after, 
.author[href$="/dute"]:after, 
.author[href$="/elliotravenwood"]:after, 
.author[href$="/falafel1066"]:after, 
.author[href$="/FatherAzerun"]:after, 
.author[href$="/gent2012"]:after, 
.author[href$="/Irishfafnir"]:after, 
.author[href$="/Jordan42"]:after, 
.author[href$="/KyleBridge"]:after, 
.author[href$="/l_mack"]:after, 
.author[href$="/LordHussyPants"]:after,
.author[href$="/MurphyBinkings"]:after, 
.author[href$="/Muskwatch"]:after,  
.author[href$="/Reedstilt"]:after, 
.author[href$="/Rittermeister"]:after,
.author[href$="/Samuel_Gompers"]:after, 
.author[href$="/Shartastic"]:after, 
.author[href$="/sleepyrivertroll"]:after,
.author[href$="/smileyman"]:after,
.author[href$="/SnowblindAlbino"]:after, 
.author[href$="/SnorriThorfinnsson"]:after, 
.author[href$="/sowser"]:after,
.author[href$="/The_Alaskan"]:after, 
.author[href$="/thegodsarepleased"]:after, 
.author[href$="/TheRGL"]:after,
.author[href$="/TheShowIsNotTheShow"]:after, 
.author[href$="/tinyshadow"]:after, 
.author[href$="/thinmountainair"]:after, 
.author[href$="/TRB1783"]:after, 
.author[href$="/victoryfanfare"]:after, 
.author[href$="/Wades-in-the-Water"]:after, 
.author[href$="/Yearsnowlost"]:after, 
.author[href$="/zuzahin"]:after, 
.author[href$="/400-Rabbits"]:after, 
.author[href$="/Ahhuatl"]:after, 
.author[href$="/ainrialai"]:after, 
.author[href$="/CommodoreCoCo"]:after,
.author[href$="/Cozijo"]:after,
.author[href$="/historianLA"]:after, 
.author[href$="/Legendarytubahero"]:after, 
.author[href$="/Mictlantecuhtli"]:after, 
.author[href$="/NotLouisMalle"]:after, 
.author[href$="/onthefailboat"]:after, 
.author[href$="/pseudogentry"]:after, 
.author[href$="/Qhapaqocha"]:after, 
.author[href$="/snickeringshadow"]:after, 
.author[href$="/tjcase10"]:after, 
.author[href$="/Yawarpoma"]:after, 
.author[href$="/AsiaExpert"]:after, 
.author[href$="/Age_of_Kings"]:after,
.author[href$="/Beck2012"]:after, 
.author[href$="/Cenodoxus"]:after, 
.author[href$="/cordis_melum"]:after,
.author[href$="/churakaagii"]:after, 
.author[href$="/diana_mn"]:after,  
.author[href$="/emr1028"]:after,
.author[href$="/FraudianSlip"]:after, 
.author[href$="/I_fight_demons"]:after, 
.author[href$="/Jasfss"]:after, 
.author[href$="/JimeDorje"]:after,
.author[href$="/JJatt"]:after, 
.author[href$="/keyilan"]:after, 
.author[href$="/koliano"]:after, 
.author[href$="/lukeweiss"]:after, 
.author[href$="/MisterMomo"]:after, 
.author[href$="/myrmecologist"]:after,
.author[href$="/paburon"]:after, 
.author[href$="/rakony"]:after, 
.author[href$="/ScipioAsina"]:after, 
.author[href$="/shakespeare-gurl"]:after,
.author[href$="/thanatos90"]:after, 
.author[href$="/t-o-k-u-m-e-i"]:after, 
.author[href$="/UOUPv2"]:after, 
.author[href$="/TheWalrus5"]:after,
.author[href$="/Xiao8818"]:after,
.author[href$="/Xtacles"]:after,
.author[href$="/Ada_Love"]:after, 
.author[href$="/Aethelric"]:after, 
.author[href$="/agentdcf"]:after, 
.author[href$="/AlanWithTea"]:after, 
.author[href$="/alexistheman"]:after, 
.author[href$="/alfonsoelsabio"]:after, 
.author[href$="/alriclofgar"]:after,
.author[href$="/AlviseFalier"]:after,
.author[href$="/Ambarenya"]:after, 
.author[href$="/angelsil"]:after, 
.author[href$="/archaeontologist"]:after, 
.author[href$="/Astrogator"]:after, 
.author[href$="/azand"]:after,
.author[href$="/Bakuraptor"]:after, 
.author[href$="/BBRyder"]:after, 
.author[href$="/bemonk"]:after, 
.author[href$="/Bishkekvunderbar"]:after,
.author[href$="/bitparity"]:after, 
.author[href$="/blindingpain"]:after, 
.author[href$="/Bobby_Newmark"]:after, 
.author[href$="/brution"]:after, 
.author[href$="/butter_milk"]:after,
.author[href$="/ByzantineBasileus"]:after, 
.author[href$="/Caherdaniel"]:after, 
.author[href$="/caustic_banana"]:after,
.author[href$="/cazador5"]:after, 
.author[href$="/Celebreth"]:after, 
.author[href$="/ChiefOfTheCharles"]:after,
.author[href$="/ChuckRagansBeard"]:after, 
.author[href$="/coree"]:after,  
.author[href$="/DasImp"]:after, 
.author[href$="/Daveaham_Lincoln"]:after, 
.author[href$="/depanneur"]:after, 
.author[href$="/DieMensch-Maschine"]:after, 
.author[href$="/DonaldFDraper"]:after, 
.author[href$="/dr_john_batman"]:after, 
.author[href$="/Durendal_et_Joyeuse"]:after, 
.author[href$="/edXcitizen87539319"]:after, 
.author[href$="/elos_"]:after,
.author[href$="/Enrico_Dandolo"]:after,
.author[href$="/estherke"]:after, 
.author[href$="/EyeStache"]:after, 
.author[href$="/facepoundr"]:after, 
.author[href$="/Fandorin"]:after, 
.author[href$="/Fucho"]:after, 
.author[href$="/Gadarn"]:after, 
.author[href$="/GeorgiusFlorentius"]:after, 
.author[href$="/Giesskane"]:after, 
.author[href$="/GrandDeluge"]:after, 
.author[href$="/haimoofauxerre"]:after, 
.author[href$="/HatMaster12"]:after,
.author[href$="/heyheymse"]:after, 
.author[href$="/historiagrephour"]:after,
.author[href$="/idjet"]:after, 
.author[href$="/ISurvivedRuffneck"]:after, 
.author[href$="/k_hopz"]:after,
.author[href$="/kaisermatias"]:after, 
.author[href$="/Killfile"]:after, 
.author[href$="/kratistos"]:after, 
.author[href$="/labarge3"]:after,
.author[href$="/lazespud2"]:after, 
.author[href$="/LBo87"]:after, 
.author[href$="/LegalAction"]:after, 
.author[href$="/leicanthrope"]:after, 
.author[href$="/lngwstksgk"]:after, 
.author[href$="/luthernotvandross"]:after, 
.author[href$="/MarcelloD"]:after, 
.author[href$="/mariner01"]:after,
.author[href$="/Mediaevumed"]:after, 
.author[href$="/mhbeals"]:after,  
.author[href$="/molstern"]:after, 
.author[href$="/MootMute"]:after, 
.author[href$="/mp96"]:after, 
.author[href$="/nhnhnh"]:after, 
.author[href$="/Nimonic"]:after, 
.author[href$="/Notamacropus"]:after, 
.author[href$="/OnkelEmil"]:after, 
.author[href$="/pentad67"]:after, 
.author[href$="/peripatos"]:after, 
.author[href$="/plusroyaliste"]:after,
.author[href$="/prehensilefoot"]:after, 
.author[href$="/Premislaus"]:after,
.author[href$="/Quirite"]:after, 
.author[href$="/quistodes"]:after,
.author[href$="/QVCatullus"]:after, 
.author[href$="/rosemary85"]:after, 
.author[href$="/Samuel_I"]:after, 
.author[href$="/Sebatinsky"]:after, 
.author[href$="/shlin28"]:after,
.author[href$="/Sid_Burn"]:after,
.author[href$="/silverionmox"]:after, 
.author[href$="/slawkenbergius"]:after,
.author[href$="/stormraughtz"]:after, 
.author[href$="/suggestshistorybooks"]:after, 
.author[href$="/supernanify"]:after, 
.author[href$="/Talleyrayand"]:after, 
.author[href$="/TerribleTauTG"]:after, 
.author[href$="/treebalamb"]:after, 
.author[href$="/The_Western"]:after, 
.author[href$="/TheGreatInquisitorX"]:after,
.author[href$="/TheGreenReaper7"]:after, 
.author[href$="/TheTeamCubed"]:after, 
.author[href$="/tobbinator"]:after, 
.author[href$="/ursa-minor-88"]:after, 
.author[href$="/vertexoflife"]:after, 
.author[href$="/Viae"]:after, 
.author[href$="/vonadler"]:after, 
.author[href$="/WhoH8in"]:after, 
.author[href$="/Whoosier"]:after, 
.author[href$="/XenophontheAthenian"]:after,
.author[href$="/Yogurthead"]:after, 
.author[href$="/alltorndown"]:after, 
.author[href$="/asdjk482"]:after, 
.author[href$="/caesar10022"]:after, 
.author[href$="/cdbavg400"]:after, 
.author[href$="/Daeres"]:after, 
.author[href$="/husky54"]:after, 
.author[href$="/i_like_jam"]:after, 
.author[href$="/jdryan08"]:after, 
.author[href$="/JoelWiklund"]:after, 
.author[href$="/otakuman"]:after, 
.author[href$="/PaxOttomanica"]:after, 
.author[href$="/riskbreaker2987"]:after, 
.author[href$="/tayaravaknin"]:after, 
.author[href$="/tobymoby616"]:after, 
.author[href$="/VetMichael"]:after, 
.author[href$="/WedgeHead"]:after, 
.author[href$="/b1uepenguin"]:after,
.author[href$="/l33t_sas"]:after, 
.author[href$="/TasfromTAS"]:after, 
.author[href$="/VermeersHat"]:after, 
.author[href$="/ahalenia"]:after, 
.author[href$="/BonSequitur"]:after, 
.author[href$="/butforevernow"]:after, 
.author[href$="/caffarelli"]:after, 
.author[href$="/cecikierk"]:after, 
.author[href$="/cge"]:after, 
.author[href$="/chocolatepot"]:after,
.author[href$="/citrusonic"]:after,
.author[href$="/colevintage"]:after, 
.author[href$="/erus"]:after, 
.author[href$="/farquier"]:after, 
.author[href$="/GeeJo"]:after, 
.author[href$="/harmania"]:after, 
.author[href$="/jerisad"]:after, 
.author[href$="/kittydentures"]:after,
.author[href$="/origamitiger"]:after, 
.author[href$="/quetzal1234"]:after,
.author[href$="/randommusician"]:after, 
.author[href$="/RedPotato"]:after, 
.author[href$="/Respectfullyyours"]:after, 
.author[href$="/texpeare"]:after, 
.author[href$="/wyschnei"]:after, 
.author[href$="/Yulong"]:after,
.author[href$="/Zhankfor"]:after,  
.author[href$="/captainhaddock"]:after, 
.author[href$="/Cerinthus"]:after,  
.author[href$="/Domini_canes"]:after,
.author[href$="/Dubstripsquads"]:after, 
.author[href$="/gingerkid1234"]:after, 
.author[href$="/HenkieVV"]:after, 
.author[href$="/koine_lingua"]:after, 
.author[href$="/MarcusDohrelius"]:after,
.author[href$="/narwhal_"]:after, 
.author[href$="/Porphyrius"]:after, 
.author[href$="/sln26"]:after, 
.author[href$="/stayhungrystayfree"]:after, 
.author[href$="/talondearg"]:after, 
.author[href$="/thejukeboxhero"]:after, 
.author[href$="/wedgeomatic"]:after, 
.author[href$="/WhiteRastaJ"]:after, 
.author[href$="/yodatsracist"]:after,
.author[href$="/A_Certain_Anime_Baby"]:after, 
.author[href$="/an_ironic_username"]:after, 
.author[href$="/Badgerfest"]:after,
.author[href$="/Bacarruda"]:after,
.author[href$="/BeondTheGrave"]:after, 
.author[href$="/Bernardito"]:after, 
.author[href$="/BeStillAndKnow_"]:after, 
.author[href$="/Bigglesworth_"]:after,
.author[href$="/bigslothonmyface"]:after,
.author[href$="/BlueLightSpcl"]:after, 
.author[href$="/BritainOpPlsNerf"]:after,
.author[href$="/British-Empire"]:after,
.author[href$="/buy_a_pork_bun"]:after,
.author[href$="/coinsinmyrocket"]:after, 
.author[href$="/CrossyNZ"]:after,
.author[href$="/darwinfish86"]:after,
.author[href$="/DBHT14"]:after,
.author[href$="/doithowitgo"]:after, 
.author[href$="/DuxBelisarius"]:after,
.author[href$="/eidetic"]:after, 
.author[href$="/erictotalitarian"]:after, 
.author[href$="/GBFel"]:after, 
.author[href$="/Georgy_K_Zhukov"]:after, 
.author[href$="/golfman11"]:after,
.author[href$="/Gyokusai_Into_Ships"]:after,
.author[href$="/IrishWaterPolo"]:after, 
.author[href$="/k1990"]:after,
.author[href$="/Krywiggles"]:after, 
.author[href$="/kwgoodlet"]:after, 
.author[href$="/LeftBehind83"]:after, 
.author[href$="/Luakey"]:after, 
.author[href$="/Magneto88"]:after, 
.author[href$="/MeneMeneTekelUpharsi"]:after, 
.author[href$="/MI13"]:after, 
.author[href$="/military_history"]:after, 
.author[href$="/NMW"]:after, 
.author[href$="/Prufrock451"]:after, 
.author[href$="/reginaldaugustus"]:after, 
.author[href$="/rpilks"]:after,
.author[href$="/SOAR21"]:after, 
.author[href$="/TheAlecDude"]:after, 
.author[href$="/TheHIV123"]:after,
.author[href$="/TheWellSpokenMan"]:after,
.author[href$="/Valkine"]:after, 
.author[href$="/vonstroheims_monocle"]:after, 
.author[href$="/Warluster"]:after,
.author[href$="/Axon350"]:after, 
.author[href$="/bg-j38"]:after, 
.author[href$="/Flubb"]:after, 
.author[href$="/FlyingChange"]:after,
.author[href$="/henry_fords_ghost"]:after, 
.author[href$="/Jooseman"]:after,
.author[href$="/jschooltiger"]:after, 
.author[href$="/kohatsootsich"]:after,
.author[href$="/michellesabrina"]:after, 
.author[href$="/NurseAngela"]:after, 
.author[href$="/MrDowntown"]:after, 
.author[href$="/Owlettt"]:after, 
.author[href$="/Qweniden"]:after, 
.author[href$="/restricteddata"]:after, 
.author[href$="/TheLionHearted"]:after, 
.author[href$="/archaeogeek"]:after, 
.author[href$="/Aerandir"]:after, 
.author[href$="/brigantus"]:after, 
.author[href$="/kookingpot"]:after, 
.author[href$="/missingpuzzle"]:after, 
.author[href$="/OnlyDeanCanLayEggs"]:after,
.author[href$="/Pachacamac"]:after, 
.author[href$="/pqvarus"]:after, 
.author[href$="/retarredroof"]:after, 
.author[href$="/RioAbajo"]:after,
.author[href$="/textandtrowel"]:after,
.author[href$="/Tiako"]:after, 
.author[href$="/Vampire_Seraphin"]:after, 
.author[href$="/wee_little_puppetman"]:after, 
.author[href$="/yemrot"]:after, 
.author[href$="/AmesCG"]:after,
.author[href$="/bfg_foo"]:after, 
.author[href$="/davidAOP"]:after, 
.author[href$="/eternalkerri"]:after, 
.author[href$="/descafeinado"]:after,
.author[herf$="/ETFox"]:after,
.author[href$="/iForkyou"]:after, 
.author[href$="/itsallfolklore"]:after, 
.author[href$="/Janvs"]:after, 
.author[href$="/kdelamont"]:after, 
.author[href$="/LoneGazebo"]:after,
.author[href$="/limetom"]:after, 
.author[href$="/millionsofcats"]:after, 
.author[href$="/rusoved"]:after, 
.author[href$="/skedaddle"]:after, 
.author[href$="/sonnyclips"]:after, 
.author[href$="/vhcngh"]:after,
.author[href$="/woofiegrrl"]:after, 
.author[href$="/zeroable"]:after,
.author[href$="/ctesibius"]:after, 
.author[href$="/davratta"]:after, 
.author[href$="/DeSoulis"]:after,
.author[href$="/Eistean"]:after, 
.author[href$="/HallenbeckJoe"]:after, 
.author[href$="/Hinmatoowyalahtqit"]:after,
.author[href$="/iwinagin"]:after,
.author[href$="/kieslowskifan"]:after,
.author[href$="/mormengil"]:after,
.author[href$="/OldWorldGlory"]:after, 
.author[href$="/ombudsmen"]:after, 
.author[href$="/rocketsocks"]:after, 
.author[href$="/Searocksandtrees"]:after {
    color: #ff7300;
    content: " A";
}
.author[href$="/Commustar"]:hover:after,
.author[href$="/EsotericR"]:hover:after, 
.author[href$="/gplnd"]:hover:after,
.author[href$="/khosikulu"]:hover:after, 
.author[href$="/leocadia"]:hover:after, 
.author[href$="/Nebkheperure"]:hover:after, 
.author[href$="/profrhodes"]:hover:after, 
.author[href$="/seringen"]:hover:after, 
.author[href$="/SisulusGhost"]:hover:after, 
.author[href$="/tlacomixle"]:hover:after {
    color: #ff7300;
    content: " flaired user in /r/AskHistorians - African History"!important;
} 
.author[href$="/AlotofReading"]:hover:after,
.author[href$="/AnacreonInHeaven"]:hover:after,
.author[href$="/Anastik"]:hover:after, 
.author[href$="/AnOldHope"]:hover:after, 
.author[href$="/anthropology_nerd"]:hover:after, 
.author[href$="/Artrw"]:hover:after, 
.author[href$="/bclelandgt"]:hover:after, 
.author[href$="/Borimi"]:hover:after, 
.author[href$="/CanadianHistorian"]:hover:after, 
.author[href$="/CAPA-3HH"]:hover:after, 
.author[href$="/Carol_White"]:hover:after, 
.author[href$="/cephalopodie"]:hover:after, 
.author[href$="/constantandtrue"]:hover:after, 
.author[href$="/Cosmic_Charlie"]:hover:after, 
.author[href$="/dute"]:hover:after, 
.author[href$="/elliotravenwood"]:hover:after, 
.author[href$="/falafel1066"]:hover:after, 
.author[href$="/FatherAzerun"]:hover:after, 
.author[href$="/gent2012"]:hover:after, 
.author[href$="/Irishfafnir"]:hover:after, 
.author[href$="/Jordan42"]:hover:after, 
.author[href$="/KyleBridge"]:hover:after, 
.author[href$="/l_mack"]:hover:after, 
.author[href$="/LordHussyPants"]:hover:after,
.author[href$="/MurphyBinkings"]:hover:after, 
.author[href$="/Muskwatch"]:hover:after,  
.author[href$="/Reedstilt"]:hover:after, 
.author[href$="/Rittermeister"]:hover:after,
.author[href$="/Samuel_Gompers"]:hover:after, 
.author[href$="/Shartastic"]:hover:after, 
.author[href$="/sleepyrivertroll"]:hover:after,
.author[href$="/smileyman"]:hover:after,
.author[href$="/SnowblindAlbino"]:hover:after, 
.author[href$="/SnorriThorfinnsson"]:hover:after, 
.author[href$="/sowser"]:hover:after,
.author[href$="/The_Alaskan"]:hover:after, 
.author[href$="/thegodsarepleased"]:hover:after, 
.author[href$="/TheRGL"]:hover:after,
.author[href$="/TheShowIsNotTheShow"]:hover:after, 
.author[href$="/tinyshadow"]:hover:after, 
.author[href$="/thinmountainair"]:hover:after, 
.author[href$="/TRB1783"]:hover:after, 
.author[href$="/victoryfanfare"]:hover:after, 
.author[href$="/Wades-in-the-Water"]:hover:after, 
.author[href$="/Yearsnowlost"]:hover:after, 
.author[href$="/zuzahin"]:hover:after {
    color: #ff7300;
    content: " flaired user in /r/AskHistorians - North American History"!important;
} 
.author[href$="/400-Rabbits"]:hover:after, 
.author[href$="/Ahhuatl"]:hover:after, 
.author[href$="/ainrialai"]:hover:after, 
.author[href$="/CommodoreCoCo"]:hover:after,
.author[href$="/Cozijo"]:hover:after,
.author[href$="/historianLA"]:hover:after, 
.author[href$="/Legendarytubahero"]:hover:after, 
.author[href$="/Mictlantecuhtli"]:hover:after, 
.author[href$="/NotLouisMalle"]:hover:after, 
.author[href$="/onthefailboat"]:hover:after, 
.author[href$="/pseudogentry"]:hover:after, 
.author[href$="/Qhapaqocha"]:hover:after, 
.author[href$="/snickeringshadow"]:hover:after, 
.author[href$="/tjcase10"]:hover:after, 
.author[href$="/Yawarpoma"]:hover:after {
    color: #ff7300;
    content: " flaired user in /r/AskHistorians - Middle and South American History"!important;
} 
.author[href$="/AsiaExpert"]:hover:after, 
.author[href$="/Age_of_Kings"]:hover:after,
.author[href$="/Beck2012"]:hover:after, 
.author[href$="/Cenodoxus"]:hover:after, 
.author[href$="/cordis_melum"]:hover:after,
.author[href$="/churakaagii"]:hover:after, 
.author[href$="/diana_mn"]:hover:after,  
.author[href$="/emr1028"]:hover:after,
.author[href$="/FraudianSlip"]:hover:after, 
.author[href$="/I_fight_demons"]:hover:after, 
.author[href$="/Jasfss"]:hover:after, 
.author[href$="/JimeDorje"]:hover:after,
.author[href$="/JJatt"]:hover:after, 
.author[href$="/keyilan"]:hover:after, 
.author[href$="/koliano"]:hover:after, 
.author[href$="/lukeweiss"]:hover:after, 
.author[href$="/MisterMomo"]:hover:after, 
.author[href$="/myrmecologist"]:hover:after,
.author[href$="/paburon"]:hover:after, 
.author[href$="/rakony"]:hover:after, 
.author[href$="/ScipioAsina"]:hover:after, 
.author[href$="/shakespeare-gurl"]:hover:after,
.author[href$="/thanatos90"]:hover:after, 
.author[href$="/t-o-k-u-m-e-i"]:hover:after, 
.author[href$="/UOUPv2"]:hover:after, 
.author[href$="/TheWalrus5"]:hover:after,
.author[href$="/Xiao8818"]:hover:after,
.author[href$="/Xtacles"]:hover:after {
    color: #ff7300;
    content: " flaired user in /r/AskHistorians - Asian History"!important;
}
.author[href$="/Ada_Love"]:hover:after, 
.author[href$="/Aethelric"]:hover:after, 
.author[href$="/agentdcf"]:hover:after, 
.author[href$="/AlanWithTea"]:hover:after, 
.author[href$="/alexistheman"]:hover:after, 
.author[href$="/alfonsoelsabio"]:hover:after, 
.author[href$="/alriclofgar"]:hover:after,
.author[href$="/AlviseFalier"]:hover:after,
.author[href$="/Ambarenya"]:hover:after, 
.author[href$="/angelsil"]:hover:after, 
.author[href$="/archaeontologist"]:hover:after, 
.author[href$="/Astrogator"]:hover:after, 
.author[href$="/azand"]:hover:after,
.author[href$="/Bakuraptor"]:hover:after, 
.author[href$="/BBRyder"]:hover:after, 
.author[href$="/bemonk"]:hover:after, 
.author[href$="/Bishkekvunderbar"]:hover:after,
.author[href$="/bitparity"]:hover:after, 
.author[href$="/blindingpain"]:hover:after, 
.author[href$="/Bobby_Newmark"]:hover:after, 
.author[href$="/brution"]:hover:after, 
.author[href$="/butter_milk"]:hover:after,
.author[href$="/ByzantineBasileus"]:hover:after, 
.author[href$="/Caherdaniel"]:hover:after, 
.author[href$="/caustic_banana"]:hover:after,
.author[href$="/cazador5"]:hover:after, 
.author[href$="/Celebreth"]:hover:after, 
.author[href$="/ChiefOfTheCharles"]:hover:after,
.author[href$="/ChuckRagansBeard"]:hover:after, 
.author[href$="/coree"]:hover:after,  
.author[href$="/DasImp"]:hover:after, 
.author[href$="/Daveaham_Lincoln"]:hover:after, 
.author[href$="/depanneur"]:hover:after, 
.author[href$="/DieMensch-Maschine"]:hover:after, 
.author[href$="/DonaldFDraper"]:hover:after, 
.author[href$="/dr_john_batman"]:hover:after, 
.author[href$="/Durendal_et_Joyeuse"]:hover:after, 
.author[href$="/edXcitizen87539319"]:hover:after, 
.author[href$="/elos_"]:hover:after,
.author[href$="/Enrico_Dandolo"]:hover:after,
.author[href$="/estherke"]:hover:after, 
.author[href$="/EyeStache"]:hover:after, 
.author[href$="/facepoundr"]:hover:after, 
.author[href$="/Fandorin"]:hover:after, 
.author[href$="/Fucho"]:hover:after, 
.author[href$="/Gadarn"]:hover:after, 
.author[href$="/GeorgiusFlorentius"]:hover:after, 
.author[href$="/Giesskane"]:hover:after, 
.author[href$="/GrandDeluge"]:hover:after, 
.author[href$="/haimoofauxerre"]:hover:after, 
.author[href$="/HatMaster12"]:hover:after,
.author[href$="/heyheymse"]:hover:after, 
.author[href$="/historiagrephour"]:hover:after,
.author[href$="/idjet"]:hover:after, 
.author[href$="/ISurvivedRuffneck"]:hover:after, 
.author[href$="/k_hopz"]:hover:after,
.author[href$="/kaisermatias"]:hover:after, 
.author[href$="/Killfile"]:hover:after, 
.author[href$="/kratistos"]:hover:after, 
.author[href$="/labarge3"]:hover:after,
.author[href$="/lazespud2"]:hover:after, 
.author[href$="/LBo87"]:hover:after, 
.author[href$="/LegalAction"]:hover:after, 
.author[href$="/leicanthrope"]:hover:after, 
.author[href$="/lngwstksgk"]:hover:after, 
.author[href$="/luthernotvandross"]:hover:after, 
.author[href$="/MarcelloD"]:hover:after, 
.author[href$="/mariner01"]:hover:after,
.author[href$="/Mediaevumed"]:hover:after, 
.author[href$="/mhbeals"]:hover:after,  
.author[href$="/molstern"]:hover:after, 
.author[href$="/MootMute"]:hover:after, 
.author[href$="/mp96"]:hover:after, 
.author[href$="/nhnhnh"]:hover:after, 
.author[href$="/Nimonic"]:hover:after, 
.author[href$="/Notamacropus"]:hover:after, 
.author[href$="/OnkelEmil"]:hover:after, 
.author[href$="/pentad67"]:hover:after, 
.author[href$="/peripatos"]:hover:after, 
.author[href$="/plusroyaliste"]:hover:after,
.author[href$="/prehensilefoot"]:hover:after, 
.author[href$="/Premislaus"]:hover:after,
.author[href$="/Quirite"]:hover:after, 
.author[href$="/quistodes"]:hover:after,
.author[href$="/QVCatullus"]:hover:after, 
.author[href$="/rosemary85"]:hover:after, 
.author[href$="/Samuel_I"]:hover:after, 
.author[href$="/Sebatinsky"]:hover:after, 
.author[href$="/shlin28"]:hover:after,
.author[href$="/Sid_Burn"]:hover:after,
.author[href$="/silverionmox"]:hover:after, 
.author[href$="/slawkenbergius"]:hover:after,
.author[href$="/stormraughtz"]:hover:after, 
.author[href$="/suggestshistorybooks"]:hover:after, 
.author[href$="/supernanify"]:hover:after, 
.author[href$="/Talleyrayand"]:hover:after, 
.author[href$="/TerribleTauTG"]:hover:after, 
.author[href$="/treebalamb"]:hover:after, 
.author[href$="/The_Western"]:hover:after, 
.author[href$="/TheGreatInquisitorX"]:hover:after,
.author[href$="/TheGreenReaper7"]:hover:after, 
.author[href$="/TheTeamCubed"]:hover:after, 
.author[href$="/tobbinator"]:hover:after, 
.author[href$="/ursa-minor-88"]:hover:after, 
.author[href$="/vertexoflife"]:hover:after, 
.author[href$="/Viae"]:hover:after, 
.author[href$="/vonadler"]:hover:after, 
.author[href$="/WhoH8in"]:hover:after, 
.author[href$="/Whoosier"]:hover:after, 
.author[href$="/XenophontheAthenian"]:hover:after,
.author[href$="/Yogurthead"]:hover:after {
    color: #ff7300;
    content: " flaired user in /r/AskHistorians - European History"!important;
}
.author[href$="/alltorndown"]:hover:after, 
.author[href$="/asdjk482"]:hover:after, 
.author[href$="/caesar10022"]:hover:after, 
.author[href$="/cdbavg400"]:hover:after, 
.author[href$="/Daeres"]:hover:after, 
.author[href$="/husky54"]:hover:after, 
.author[href$="/i_like_jam"]:hover:after, 
.author[href$="/jdryan08"]:hover:after, 
.author[href$="/JoelWiklund"]:hover:after, 
.author[href$="/otakuman"]:hover:after, 
.author[href$="/PaxOttomanica"]:hover:after, 
.author[href$="/riskbreaker2987"]:hover:after, 
.author[href$="/tayaravaknin"]:hover:after, 
.author[href$="/tobymoby616"]:hover:after, 
.author[href$="/VetMichael"]:hover:after, 
.author[href$="/WedgeHead"]:hover:after {
    color: #ff7300;
    content: " flaired user in /r/AskHistorians - Middle Eastern History"!important;
}
.author[href$="/b1uepenguin"]:hover:after,
.author[href$="/l33t_sas"]:hover:after, 
.author[href$="/TasfromTAS"]:hover:after, 
.author[href$="/VermeersHat"]:hover:after {
    color: #ff7300;
    content: " flaired user in /r/AskHistorians - Oceanic History"!important;
} 
.author[href$="/ahalenia"]:hover:after, 
.author[href$="/BonSequitur"]:hover:after, 
.author[href$="/butforevernow"]:hover:after, 
.author[href$="/caffarelli"]:hover:after, 
.author[href$="/cecikierk"]:hover:after, 
.author[href$="/cge"]:hover:after, 
.author[href$="/chocolatepot"]:hover:after,
.author[href$="/citrusonic"]:hover:after,
.author[href$="/colevintage"]:hover:after, 
.author[href$="/erus"]:hover:after, 
.author[href$="/farquier"]:hover:after, 
.author[href$="/GeeJo"]:hover:after, 
.author[href$="/harmania"]:hover:after, 
.author[href$="/jerisad"]:hover:after, 
.author[href$="/kittydentures"]:hover:after,
.author[href$="/origamitiger"]:hover:after, 
.author[href$="/quetzal1234"]:hover:after,
.author[href$="/randommusician"]:hover:after, 
.author[href$="/RedPotato"]:hover:after, 
.author[href$="/Respectfullyyours"]:hover:after, 
.author[href$="/texpeare"]:hover:after, 
.author[href$="/wyschnei"]:hover:after, 
.author[href$="/Yulong"]:hover:after,
.author[href$="/Zhankfor"]:hover:after {
    color: #ff7300;
    content: " flaired user in /r/AskHistorians - History of Art"!important;
}
.author[href$="/captainhaddock"]:hover:after, 
.author[href$="/Cerinthus"]:hover:after,  
.author[href$="/Domini_canes"]:hover:after,
.author[href$="/Dubstripsquads"]:hover:after, 
.author[href$="/gingerkid1234"]:hover:after, 
.author[href$="/HenkieVV"]:hover:after, 
.author[href$="/koine_lingua"]:hover:after, 
.author[href$="/MarcusDohrelius"]:hover:after,
.author[href$="/narwhal_"]:hover:after, 
.author[href$="/Porphyrius"]:hover:after, 
.author[href$="/sln26"]:hover:after, 
.author[href$="/stayhungrystayfree"]:hover:after, 
.author[href$="/talondearg"]:hover:after, 
.author[href$="/thejukeboxhero"]:hover:after, 
.author[href$="/wedgeomatic"]:hover:after, 
.author[href$="/WhiteRastaJ"]:hover:after, 
.author[href$="/yodatsracist"]:hover:after {
    color: #ff7300;
    content: " flaired user in /r/AskHistorians - History of Religion and Philosophy"!important;
}
.author[href$="/A_Certain_Anime_Baby"]:hover:after, 
.author[href$="/an_ironic_username"]:hover:after, 
.author[href$="/Badgerfest"]:hover:after,
.author[href$="/Bacarruda"]:hover:after,
.author[href$="/BeondTheGrave"]:hover:after, 
.author[href$="/Bernardito"]:hover:after, 
.author[href$="/BeStillAndKnow_"]:hover:after, 
.author[href$="/Bigglesworth_"]:hover:after,
.author[href$="/bigslothonmyface"]:hover:after,
.author[href$="/BlueLightSpcl"]:hover:after, 
.author[href$="/BritainOpPlsNerf"]:hover:after,
.author[href$="/British-Empire"]:hover:after,
.author[href$="/buy_a_pork_bun"]:hover:after,
.author[href$="/coinsinmyrocket"]:hover:after, 
.author[href$="/CrossyNZ"]:hover:after,
.author[href$="/darwinfish86"]:hover:after,
.author[href$="/DBHT14"]:hover:after,
.author[href$="/doithowitgo"]:hover:after, 
.author[href$="/DuxBelisarius"]:hover:after,
.author[href$="/eidetic"]:hover:after, 
.author[href$="/erictotalitarian"]:hover:after, 
.author[href$="/GBFel"]:hover:after, 
.author[href$="/Georgy_K_Zhukov"]:hover:after, 
.author[href$="/golfman11"]:hover:after,
.author[href$="/Gyokusai_Into_Ships"]:hover:after,
.author[href$="/IrishWaterPolo"]:hover:after, 
.author[href$="/k1990"]:hover:after,
.author[href$="/Krywiggles"]:hover:after, 
.author[href$="/kwgoodlet"]:hover:after, 
.author[href$="/LeftBehind83"]:hover:after, 
.author[href$="/Luakey"]:hover:after, 
.author[href$="/Magneto88"]:hover:after, 
.author[href$="/MeneMeneTekelUpharsi"]:hover:after, 
.author[href$="/MI13"]:hover:after, 
.author[href$="/military_history"]:hover:after, 
.author[href$="/NMW"]:hover:after, 
.author[href$="/Prufrock451"]:hover:after, 
.author[href$="/reginaldaugustus"]:hover:after, 
.author[href$="/rpilks"]:hover:after,
.author[href$="/SOAR21"]:hover:after, 
.author[href$="/TheAlecDude"]:hover:after, 
.author[href$="/TheHIV123"]:hover:after,
.author[href$="/TheWellSpokenMan"]:hover:after,
.author[href$="/Valkine"]:hover:after, 
.author[href$="/vonstroheims_monocle"]:hover:after, 
.author[href$="/Warluster"]:hover:after {
    color: #ff7300;
    content: " flaired user in /r/AskHistorians - Military History"!important;
}
.author[href$="/Axon350"]:hover:after, 
.author[href$="/bg-j38"]:hover:after, 
.author[href$="/Flubb"]:hover:after, 
.author[href$="/FlyingChange"]:hover:after,
.author[href$="/henry_fords_ghost"]:hover:after, 
.author[href$="/Jooseman"]:hover:after,
.author[href$="/jschooltiger"]:hover:after, 
.author[href$="/kohatsootsich"]:hover:after,
.author[href$="/michellesabrina"]:hover:after, 
.author[href$="/NurseAngela"]:hover:after, 
.author[href$="/MrDowntown"]:hover:after, 
.author[href$="/Owlettt"]:hover:after, 
.author[href$="/Qweniden"]:hover:after, 
.author[href$="/restricteddata"]:hover:after, 
.author[href$="/TheLionHearted"]:hover:after {
    color: #ff7300;
    content: " flaired user in /r/AskHistorians - History of Science and Technology"!important;
}
.author[href$="/archaeogeek"]:hover:after, 
.author[href$="/Aerandir"]:hover:after, 
.author[href$="/brigantus"]:hover:after, 
.author[href$="/kookingpot"]:hover:after, 
.author[href$="/missingpuzzle"]:hover:after, 
.author[href$="/OnlyDeanCanLayEggs"]:hover:after,
.author[href$="/Pachacamac"]:hover:after, 
.author[href$="/pqvarus"]:hover:after, 
.author[href$="/retarredroof"]:hover:after, 
.author[href$="/RioAbajo"]:hover:after,
.author[href$="/textandtrowel"]:hover:after,
.author[href$="/Tiako"]:hover:after, 
.author[href$="/Vampire_Seraphin"]:hover:after, 
.author[href$="/wee_little_puppetman"]:hover:after, 
.author[href$="/yemrot"]:hover:after {
    color: #ff7300;
    content: " flaired user in /r/AskHistorians - Archaeology"!important;
}
.author[href$="/AmesCG"]:hover:after,
.author[href$="/bfg_foo"]:hover:after, 
.author[href$="/davidAOP"]:hover:after, 
.author[href$="/eternalkerri"]:hover:after, 
.author[href$="/descafeinado"]:hover:after,
.author[herf$="/ETFox"]:hover:after,
.author[href$="/iForkyou"]:hover:after, 
.author[href$="/itsallfolklore"]:hover:after, 
.author[href$="/Janvs"]:hover:after, 
.author[href$="/kdelamont"]:hover:after, 
.author[href$="/LoneGazebo"]:hover:after,
.author[href$="/limetom"]:hover:after, 
.author[href$="/millionsofcats"]:hover:after, 
.author[href$="/rusoved"]:hover:after, 
.author[href$="/skedaddle"]:hover:after, 
.author[href$="/sonnyclips"]:hover:after, 
.author[href$="/vhcngh"]:hover:after,
.author[href$="/woofiegrrl"]:hover:after, 
.author[href$="/zeroable"]:hover:after {
    color: #ff7300;
    content: " flaired user in /r/AskHistorians - Other"!important;
} 
.author[href$="/ctesibius"]:hover:after, 
.author[href$="/davratta"]:hover:after, 
.author[href$="/Eistean"]:hover:after, 
.author[href$="/HallenbeckJoe"]:hover:after, 
.author[href$="/Hinmatoowyalahtqit"]:hover:after,
.author[href$="/iwinagin"]:hover:after,
.author[href$="/kieslowskifan"]:hover:after,
.author[href$="/mormengil"]:hover:after,
.author[href$="/OldWorldGlory"]:hover:after, 
.author[href$="/ombudsmen"]:hover:after, 
.author[href$="/rocketsocks"]:hover:after, 
.author[href$="/Searocksandtrees"]:hover:after {
    color: #ff7300;
    content: " flaired user in /r/AskHistorians - Quality Contributor"!important; 
}
